/* Colours & Fonts
#06d6a0 - Caribbean Green
#1c448e - Dark Cornflower Blue
#f4ba3e - Maximum Yellow Red
#9a031e - Ruby Red
#1a140f - Smoky Black
#f5efed - isabelline
font-family: 'Finger Paint', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
*/
body {
  background-color: #1a140f;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #f5efed;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  margin: 5%;
}
h5{
  text-align: center;
  font-family: 'Finger Paint', cursive;
}
/* #container {
  display: inline;
  flex-direction: column;

} */
.container  {
  width: 80vw;
  height: 80%;
}


@media (min-width:600px) {
   .container {
  width: 500px;
} }
/* header */
.header{
  height: 20vh;
  padding: 5% 0;

}
.btn-start {
  height: auto;
  margin-bottom: 5%;
  font-family: 'Finger Paint', cursive;
  border: none;
  border-radius: 30%;
  transform: rotate(-3deg);
}

/* game */

.game {
  margin-top: 5%;
}
.row {
  height: 25vh;
  text-align: center;
  padding: 0;
  margin: 0;

}

.col {
  /* strip it back */
  padding: 2%;
}
.button {
  height:100%;
  width: 100%;

  /* height: 200px; */
  margin: 0;
  padding: 0;

}

/* buttons */
.btn-blue {
  border: none;
  background-color: #1c448e;
  border-top-left-radius: 50%;
}
.btn-yellow {
  border: none;
  background-color: #f4ba3e;
  border-top-right-radius: 50%;
}
.btn-red {
  border: none;
  background-color: #9a031e;
  border-bottom-left-radius: 50%;
}
.btn-green {
  border: none;
  background-color: #1b998b;
  border-bottom-right-radius: 50%;
}

.btn-blue-press {
  border: none;
  background-color: #1c448e;
  border-top-left-radius: 50%;
  box-shadow: 15px 15px rgba(28, 68, 142, 0.4);
  transform: translate(-7px, -7px);
}

.btn-yellow-press {
  border: none;
  background-color: #f4ba3e;
  border-top-right-radius: 50%;
  box-shadow: -15px 15px rgba(244, 186, 62, 0.4);
  transform: translate(7px, -7px);
}

.btn-red-press {
  border: none;
  background-color: #9a031e;
  border-bottom-left-radius: 50%;
  box-shadow: 15px -15px rgba(154, 3, 30, 0.4);
  transform: translate(-7px, 7px);
}
.btn-green-press {
  border: none;
  background-color: #1b998b;
  border-bottom-right-radius: 50%;
  box-shadow: -15px -15px rgba(27, 153, 139, 0.4);
  transform: translate(7px, 7px);
}

/* footer */

.footer{
  text-align: center;
  padding: 95%;
}
.foot-div {

  height: 80%;
}

.score-icon {

  align-items: center;
  text-align: center;
  width: 5vw;
  height: auto;
  background-color: white;
  color:#1a140f;

  margin: 2% auto;
  font-family: 'Finger Paint', cursive;
  border: none;
  border-radius: 30%;
  transform: rotate(3deg);
}
